html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  row-gap: 20px;
  padding-top: 20px;
}

.main .create-main .update-main {
  grid-row: 1/2;
  grid-auto-rows: auto;
  row-gap: 5px;
}

.main .create-main .update-main h3 {
  text-align: center;
}

.main .create-main tr th {
  width: 200px;
}

.main .create-main tr td {
  text-align: center;
}

.main .create-main tr td:nth-child(4) {
  display: grid;
  grid-auto-flow: column;
}

.table td,
.table th {
  vertical-align: middle;
}
